<div class="container prefer">
  {{diagnostic}}

  <p>Email</p>

  <input type="text" class="form-control" id="email" required [(ngModel)]="email" name="email"><br>

  <p>Genre</p>

  <ng-multiselect-dropdown
  [placeholder]="'Select Genres'"
  [data]="genresList"
  [(ngModel)]="selectedGenres"
  [settings]="dropdownSettings"
  (onSelect)="onItemSelect($event)"
  (onSelectAll)="onSelectAll($event)" name="selectedGenres"></ng-multiselect-dropdown><br>

  <p>Language</p>

  <ng-multiselect-dropdown
  [placeholder]="'Select Languages'"
  [data]="languagesList"
  [(ngModel)]="selectedLanguages"
  [settings]="dropdownSettings"
  (onSelect)="onItemSelect($event)"
  (onSelectAll)="onSelectAll($event)" name="selectedLanguages"></ng-multiselect-dropdown><br>

  <p>Actor</p>

  <ng-multiselect-dropdown
  [placeholder]="'Select Actors'"
  [data]="actorsList"
  [(ngModel)]="selectedActors"
  [settings]="dropdownSettings"
  (onSelect)="onItemSelect($event)"
  (onSelectAll)="onSelectAll($event)" name="selectedActors"></ng-multiselect-dropdown><br>

  <button type="submit" class="btn btn-success">Submit</button><br><br>

</div>