<div class="container">
    <h1>Preferences</h1>
    <form #preferenceForm="ngForm">
      <!-- {{diagnostic}} -->
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" required [(ngModel)]="model.email" name="email">
      </div>
      
      <div class="form-group">
        <label for="genres">Genre</label>
        <input type="text" class="form-control" id="genres" required [(ngModel)]="model.genres" name="genres">
      </div>

      <div class="form-group">
        <label for="languages">Language</label>
        <input type="text" class="form-control" id="languages" required [(ngModel)]="model.languages" name="languages">
      </div>
      
      <div class="form-group">
        <label for="actors">Actor</label>
        <input type="text" class="form-control" id="actors" required [(ngModel)]="model.actors" name="actors">
      </div>
 
      <button type="submit" class="btn btn-success">Submit</button>
 
    </form>
</div>