 a:not([tabindex]) {
   color: white;
 }

.movie-card {
  background: white;
  text-decoration: none;
  color: #444;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  transition: all .2s ease-in;
}

.image-card {
  width: 200px;
  padding: 5px;
}

.scroll {
  overflow: hidden;
  display: flex;
}

.navigate {
  float: right;
  margin-right: 1%;
  background-color: maroon;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  width: 10%;
}
