

/* A CSS class for properties of mat-card*/
.movie-card {
    max-width: 250px;
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
    transition: all .2s ease-in;
    
  }

  .mat-card-header{
    height: 100px;
  }
  /*A CSS Class that handles styling of hovered card*/
  .movie-card:hover {
    top: -10px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.5)
  }
  
/* A CSS class for each image*/
  .movie-header-image {
    background-size: cover;
  }

  

  