

/* A CSS class for properties of mat-card*/
.movie-card {
    max-width: 250px;
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
    transition: all .2s ease-in;
    backface-visibility: hidden; 
  }

  .mat-card-header{
    height: 100px;
  }
  /*A CSS Class that handles styling of hovered card*/
  .movie-card:hover {
    opacity: 0.8;
    top: -10px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.5)
  }

  .card-hover-style{
    background-color: rgba(100, 100, 100, 0);
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bolder;
  }

  .text {
    color:black;
    font-size: 16px;
    padding: 16px 32px;
  }
  
  .movie-card:hover .card-hover-style {
    opacity: 1;
  }
  
/* A CSS class for each image*/
  .movie-header-image {
    background-size: cover;
  }

  

  