<div class="container">
  <mat-tab-group>
  <mat-tab label="Today">
    <br>
    <div class="row container scroller">
    	<div class="col-6 theatre" *ngFor="let day of day1">
    		 <h6>{{ day.theatre }} </h6>
          <div class="row container">
            <p class="timings" *ngFor="let showTime of day['times']">
             <a href= "{{showTime.booking_link}}"> {{ showTime.time }} </a>
            </p>
          </div>
    	</div>
    </div>
  </mat-tab>
  <mat-tab label="Tomorrow">
    <br>
    <div class="row container scroller">
      <div class="col-6 theatre" *ngFor="let day of day2">
         <h6>{{ day.theatre }} </h6>
          <div class="row container">
            <p class="timings" *ngFor="let showTime of day['times']">
             <a href= "{{showTime.booking_link}}"> {{ showTime.time }} </a>
            </p>
          </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Day After">
    <br>
    <div class="row container scroller">
      <div class="col-6 theatre" *ngFor="let day of day3">
         <h6>{{ day.theatre }} </h6>
          <div class="row container">
            <p class="timings" *ngFor="let showTime of day['times']">
             <a href= "{{showTime.booking_link}}"> {{ showTime.time }} </a>
            </p>
          </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group></div>