.timings{
	padding-left: 10px;
}

.scroller {
    overflow: scroll;
    height: 370px;
}

a {
    color: maroon;
}

.theatre {
	padding-left: 5px;
	padding-right: 5px;
}

.chips {
	margin-bottom: 5px; 
}