@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
 
 a:not([tabindex]) {
	 color: white;
 }

.spinner {
	height: 1250px;
	top: 50%;
	justify-content: center;
}

img {
	width: 100%;
}

.booking {
	float: right;
	margin-right: 15%;
	margin-top: 20%;
	background-color: maroon;
	cursor: pointer;
	font-size: 12px;
	text-align: center;
	width: 70%;
} 

.trailer {
	float: right;
	margin-right: 15%;
	margin-top: 10%;
	background-color: maroon;
	cursor: pointer;
	font-size: 12px;
	font-color: white;
	text-align: center;
	width: 70%;
}

.genres {
	font-family: "Times New Roman", Times, serif;
	margin-left: 1%;
}

.tagline {
	margin-left: 1%;
}

.td-config{
    width: 200px;
    position: relative;
    top: 0px;
}

.scroller {
    overflow: scroll;
    height: auto;
}

.suggest {
	margin-top: 2%;
	margin-left: 6%;
	margin-right: 6%;
}

.scroll_vertical{
	overflow-y: auto;
}

.user {
  display: inline-block;
  width: 116px;
  height: 116px;
  border-radius: 50%;
}

.quick_info {
	padding-top: 2%;
	background-color: rgba(163, 163, 163, 0.3);
	margin-bottom: 2%;
	margin-left: 1%;
	border-radius: 25px;
}

.cast_name {
	margin-top: 5%;
}