<div class="container">
    <div class="row justify-content-center spinner" *ngIf="!movie">
        <mat-spinner [color]="color" [diameter]="50"></mat-spinner>
    </div>
</div>

<div *ngIf="movie">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2 poster">
            <img src={{movie.poster_path}}>
            <a class="btn btn-primar booking info" role="button" (click)=openDialog()>Find Shows</a>
            <a class="btn btn-primar trailer info" role="button" href="{{movie.trailer}}" target="_blank">View Trailer</a>
        </div>

        <div class="col-md-7">

            <font size="18" color="black">&nbsp;{{movie.original_title}}</font>

            <span class="language">&nbsp; {{movie.original_language}}</span>

            <div class="row genres">
                <mat-chip-list *ngFor="let genre of movie.genres">
                    <mat-chip>{{genre.name}}</mat-chip>&nbsp;
                </mat-chip-list>
            </div><br>

            <div class="row quick_info">
                <div class="col-md-4" align="center">
                    <mat-icon>calendar_today</mat-icon>
                    <p>{{movie.release_date | date}}</p>
                </div>
                <div class="col-md-4" align="center">
                    <mat-icon>thumb_up_alt</mat-icon>
                    <p>{{movie.vote_count}} &nbsp;</p>
                </div>
                <div class="col-md-4" align="center">
                    <mat-icon>star_rate</mat-icon>
                    <p>{{movie.vote_average}}/10</p>
                </div>
            </div>

            <mat-tab-group>
              <mat-tab label="About">
                <br>
                    <h5>Summary</h5>
                    <font size="2">{{movie.overview}}</font><br>

                    <br><h5>Cast</h5>
                    <div class="row" align="center">
                        <span *ngFor="let cast of movie.cast; let isLast=last; let i=index">
                            <div class="col-md-12" align="center">
                                <img class="user" src={{link}}{{cast.profile_path}} *ngIf="i<10">
                                <br><font size="3" color="maroon"><p class="cast_name" *ngIf="i<10">{{cast.name}}</p></font>
                            </div>
                        </span>
                    </div>
              </mat-tab>
              <mat-tab label="Reviews">
                    <span *ngFor="let review of movie.reviews; let isLast=last">
                        <br><font color="maroon"><h5>{{review.author}}</h5></font>
                        <font size="2">{{review.content}}</font><br>
                    </span>
              </mat-tab>
            </mat-tab-group>

        </div>
    </div>
    <div class="row suggest">
        <div class="scroll_vertical">
            <app-similar-movies [movieID]="movie_id"></app-similar-movies>
        </div>
    </div>
</div>
