<div class="container-fluid navigation">
  <div class="row">
    <div class="col-md-2 col-lg-2">
      <div class="logo">FindMyShow</div>
    </div>
    <div class="col-md-8 col-lg-8">
      <div class="form-group search-box">
        <input type="text" class="form-control" id="search_subject" placeholder="Search">
      </div>
    </div>
    <div class="col-md-2 col-lg-2 search-content">
      <!-- <button type="button" class="btn search-button">Search</button> -->
        <a class="btn btn-primary search-button" href="/search" role="button">Search</a>
    </div>
  </div>

  <div class="row">
    <nav class="navbar navbar-expand-md">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <a class="nav-link" href="/home">Home</a>
          <a class="nav-link" href="/coming_soon">Coming Soon</a>
          <a class="nav-link" href="/wish_list">Wish List</a>
          <a class="nav-link" href="/latest">Latest</a>
      </div>
    </nav>
    <div class="log-content">
      <a class="btn btn-primary login-button" href="/login" role="button">Log In</a>
    </div>
  </div>
</div>