.navigation{
	width: 100%;
	background-color: black;
	padding-bottom: 1%;
}

.logo{
	color: maroon;
	text-align: right;
	font-size: 20px;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	padding-top: 18%;
}
.search-box{
	padding-top: 4%;
	align-content: center;
}

.search-button{
	background-color: maroon;
	font-size: 12px;
	border: 1px solid black;
	text-align: center;
	vertical-align: center;
}

.search-content{
	padding-top: 2.7%;
	width: auto;
	font-size: auto;
}

.navbar{
	padding: 0rem 0rem !important;
	padding-left: 33% !important;
}

.nav-link{
	color: maroon;
}

.login-button{
	background-color: maroon;
	font-size: 9px;
	border: 1px solid black;
	text-align: center;
	vertical-align: center;
}

.nav-link{
	padding-left: 0rem 0rem !important;
}

.log-content{
	padding-top: 0.5%;
	padding-left: 1%;
}
