.navigation{
	/*height: 60%;*/
	width: 100%;
	background-color: black;

}

.logo{
	color: maroon;
	text-align: right;
	font-size: 20px;
	font-weight: bold;
	padding-top: 17%;
}
.search-box{
	padding-top: 4%;
	align-content: center;
}

.search-button{
	background-color: maroon;
	font-size: 12px;
	width: 40%;
	height: 65%;
	border: 1px solid #8D0707;
	text-align: center;
}

.search-content{
	padding-top: 2.7%;
}

.navbar{
	padding: 0rem 32rem !important;
}

.nav-link{
	color: maroon;
}