<div class="container-fluid navigation">
  <div class="row">
    <div class="col-md-2 col-sm-2">
      <div class="logo">FindMyShow</div>
    </div>
    <div class="col-md-8 col-sm-8">
      <div class="form-group search-box">
        <input type="text" class="form-control" id="search_subject" placeholder="Search">
      </div>
    </div>
    <div class="col-md-2 col-sm-2 search-content">
      <!-- <button type="button" class="btn search-button">Search</button> -->
        <a class="btn btn-primary search-button" href="/search" role="button">Search</a>
    </div>
  </div>

  <div class="row">
    <div class="navbar">
      <nav class="nav">
        <a class="nav-link" href="/home">Home</a>
        <a class="nav-link" href="/coming_soon">Coming Soon</a>
        <a class="nav-link" href="/wish_list">Wish List</a>
        <a class="nav-link" href="/latest">Latest</a>
      </nav>
    </div>
  </div>
</div>